* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgb(217, 19, 162), rgb(43, 3, 32));
  font-family: sans-serif;
  color: white;
}

.location,
.temperature {
  height: 30vh;
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.temperature {
  flex-direction: column;
}

.degree-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.digree-section span {
  margin: 10px;
  font-size: 30px;
}

.degree-section h2 {
  font-size: 40px;
}

span {
  font-size: 20px;
  padding: 5px;
  font-weight: bold;
}
